@** Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Core.Infrastructure
@model SevenSpikes.Nop.Plugins.MegaMenu.Models.MegaMenuManufacturersModels
@if (Model.ManufacturersModels.Count > 0)
{
    var megaMenuSettings = EngineContext.Current.Resolve<SevenSpikes.Nop.Plugins.MegaMenu.Domain.MegaMenuSettings>();
    <li>
        <a href="@Url.RouteUrl("ManufacturerList")">@T("SevenSpikes.MegaMenu.Admin.Settings.ManufacturersItemNameValue")</a>
        <div class="dropdown manufacturers">
            <div class="box">
                 <div class="title">
                    <strong>@T("SevenSpikes.MegaMenu.Admin.Settings.ManufacturerTitleInManufacturerItemValue")</strong>
                </div>
                <ul>
                    @{var manufacturersCounter = 0;}
                    @foreach (var manufacturer in Model.ManufacturersModels)
                    {
                        if (manufacturersCounter == megaMenuSettings.NumberOfManufacturers && megaMenuSettings.NumberOfManufacturers != 0)
                        {
                            <li>
                                <a class="view-all" href="@Url.RouteUrl("ManufacturerList")">@T("SevenSpikes.MegaMenu.ViewAllManufacturers")</a>
                            </li>
                            break;
                        }
                        <li>
                            <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                        </li>

                        manufacturersCounter++;
                    }
                </ul>
            </div><!--box-->
        </div><!--dropdown-->
    </li>
}
