@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@{
    Html.AddScriptParts("~/Scripts/slimbox2.js");
}
@using Nop.Web.Framework.UI;
@using Nop.Web.Extensions;
<div class="picture">
    @if (Model.DefaultPictureZoomEnabled)
    {
        <a href="@Model.DefaultPictureModel.FullSizeImageUrl" rel="lightbox-pd" title="@Model.Name">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    }
    else
    {
        <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
    }
    @if (Model.PictureModels.Count > 1)
    {
         @(Html.DataList<Nop.Web.Models.Media.PictureModel>(Model.PictureModels, 4,
                           @<div>
                                @Html.Partial("_ProductDetailsPicture", @item)
                           </div>
                    ))
    }
</div>
