@** Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Web.Models.ShoppingCart
@model global::Nop.Web.Models.ShoppingCart.MiniShoppingCartModel
@{
    var shoppingCartItemModel = Model.Items[0];
}
<div class="productAddedToCartWindow">
    <div class="productAddedToCartWindowTitle">
        @T("SevenSpikes.NopAjaxCart.ShoppingCartNotificationBoxTitle")
    </div>
    <div class="productAddedToCartWindowImage">
        <a href="@Url.RouteUrl("Product", new { SeName = shoppingCartItemModel.ProductSeName })" title="@shoppingCartItemModel.Picture.Title" onclick="CloseProductAddedToCartWindow(); return true;">
            <img alt="@shoppingCartItemModel.Picture.AlternateText" src="@shoppingCartItemModel.Picture.ImageUrl" title="@shoppingCartItemModel.Picture.Title" />
        </a>
    </div>
    <div class="productAddedToCartWindowDescription">
        <h2>
            <a href="@Url.RouteUrl("Product", new { SeName = shoppingCartItemModel.ProductSeName })" onclick="CloseProductAddedToCartWindow(); return true;">@shoppingCartItemModel.ProductName</a>
        </h2>
            <strong class="price">@shoppingCartItemModel.UnitPrice</strong>
            <strong>@T("SevenSpikes.NopAjaxCart.ShoppingCartNotificationBoxQuantity") : @shoppingCartItemModel.Quantity</strong>
    </div>
    <div class="productAddedToCartWindowSummary">
        <a class="continueShoppingLink" href="" onclick="CloseProductAddedToCartWindow(); return false;">@T("SevenSpikes.NopAjaxCart.ShoppingCartNotificationBoxContinueShopping")</a>
        @if (Model.DisplayCheckoutButton)
        {
            var checkoutUrl = "";
            if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
            {
                checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
            }
            else
            {
                checkoutUrl = Url.RouteUrl("Checkout");
            }
            <br />
            <a class="viewBasketLink" href="@Url.RouteUrl("ShoppingCart")" onclick="CloseProductAddedToCartWindow(); return true;">@T("SevenSpikes.NopAjaxCart.ShoppingCartNotificationBoxViewYourBasket")</a>
            <input class="productAddedToCartWindowCheckout" value="checkout" onclick="CloseProductAddedToCartWindow(); setLocation('@checkoutUrl');" />
        }
        else
        {
            <input class="productAddedToCartWindowCheckout" value="@T("ShoppingCart.Mini.ViewCart")" onclick="CloseProductAddedToCartWindow(); setLocation('@Url.RouteUrl("ShoppingCart")');" />
        }
    </div>
</div>
